{% extends "art/__base.html" %}

{% load url from future %}

{% block title %}{{ artist.first_name }} {{ artist.last_name }} - {{ block.super }}{% endblock %}

{% block content %}
	<h1>{{ artist.first_name }} {{ artist.last_name }} ({{ artist.username }})</h1>
	
	<h2>Original Artwork</h2>
	
	<ul>
		{% for artwork in artist.artwork_owned.all %}
			<li><a href="{% url "art.views.artwork_detail" artwork.slug %}">{{ artwork.title }}</a></li>
		{% empty %}
			<li>No artworks.</li>
		{% endfor %}
	</ul>
	
	<h2>Artwork Contributions</h2>
	
	<ul>
		{% for artwork in artist.artwork_contributed.all %}
			<li><a href="{% url "art.views.artwork_detail" artwork.slug %}">{{ artwork.title }}</a></li>
		{% empty %}
			<li>No artworks.</li>
		{% endfor %}
	</ul>
{% endblock %}