{% load url from future %}

<!DOCTYPE html>

<html>
	<head>
		<title>
			artsy. {% block title %}{% endblock %}
		</title>
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/artists">Artists</a>
					</li>
					<li>
						<a href="/artwork">Artwork</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
		<div class="container">
			<div class="page-header">
				<h1>
					artsy.
					<small>the collaborative art website for Obies</small>
				</h1>
				</div>
				<div class="span8">
					{% block content %}
						No content! Dear me!
					{% endblock %}
				</div>
		</div>
	</body>
</html>