{% extends "artsy/__base.html" %}

{% load url from future %}

{% block title %}{{ artist.first_name }} {{ artist.last_name }} - {{ block.super }}{% endblock %}

{% block content %}
	<ul class="breadcrumb">
		<li>
			<a href="/">Home</a> <span class="divider"> > </span>
		</li>
		<li>
			<a href="/artists/">Artists</a> <span class="divider"> > </span>
		</li>
		<li>
			<a class="active" href="#"> {{ artist.username }} </a>
		</li>
	</ul>
	<h1>{{ artist.username }} <small>{{ artist.first_name }} {{ artist.last_name }}</small></h1>
	<div class="span8">
		<h2>Profile</h2>
		<ul class="unstyled">
			<li>
				<strong>Year: </strong> {{ artist.year }}
			</li>
			<li>
				<strong>Hometown: </strong> {{ artist.hometown }}
			</li>
			<li>
				<strong>Favorite Artists: </strong> {{ artist.favorite_artists }}
			</li>
		</ul>
		
		<div class="row">
			<h2>Original Artwork</h2>
			
			<ul class="unstyled">
				{% for artwork in artist.artwork_owned.all %}
					<li class="span2"><a href="/artwork/{{ artwork }}"><img src="{{ artwork.artwork.url }}" width="200"></a></li>
				{% empty %}
					<li>This user hasn't submitted anything yet :(</li>
				{% endfor %}
			</ul>
		</div>
		<div class="row">
		<h2>Collaborations</h2>
		
		<ul class="unstyled">
			{% for artwork in artist.artwork_contributed.all %}
				<li><a href="{% url "artsy.views.artwork_detail" artwork.slug %}">{{ artwork.title }}</a></li>
			{% empty %}
				<li>This user hasn't done any collaborations yet :(</li>
			{% endfor %}
		</ul>
		</div>
	</div>
{% endblock %}