{% extends "artsy/__base.html" %}

{% load url from future %}

{% block content %}
<h2>Latest Artwork <small>past 7 days</small></h2>
<table>
	{% for artwork in artwork_list %}
		<tr>
			<td><a href="/artwork/{{ artwork.title }}"><img src="{{ artwork.artwork.url }}" width="200"></a></td>
			<td><a href="/artwork/{{ artwork.title }}"><h3>{{ artwork.title}}</h3></a>
			by <a href="/artist/{{ artwork.original_artist.username }}">{{ artwork.original_artist.username }}</a><br />
			uploaded on {{ artwork.date_Uploaded.date }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}